body {
    padding: 0.1vw;
    background-color: #0A0A0A;
    color: #4ca8b7;
    font-family: 'Roboto';
}

.topBar {
    display: flex;
    height: 6vw;
}
.topBar .game-title {
    width: 25vw;
}
.topBar .game-nav {
    width: 73vw;
}
.topBar .game-title h1 {
    position: relative;
    top: 1.5vw;
    left: 1vw;
    font-size: 5vw;
    width: 80%;
    margin: auto;
}
.topBar ul {
    width: 70vw;
    display: flex;
    flex-direction: row-reverse;
    height: 5vw;
    margin-bottom: 1vw;
}
.topBar ul li {
    position: relative;
    top: 2vw;
    right: 2vw;
    color: #3E9EA4;
    display: flex;
}
.topBar li p {
    margin: 0;
    position: relative;
    top: 0.5vw;
    font: Times;
    line-height: 2.4vw;
    font-size: 2.4vw !important;
    padding: 0;
}
.topBar li span {
    position: relative;
    top: 0.1vw;
    width: 2.4vw;
    font-size: 2.4vw;
    margin-left: 1vw;
    height: 2.4vw;
}
.topBar hr {
    margin-top: .5vw;
    height: 0.2vw;
}
.topBar hr::after {
    height: 0.35vw;
    width: 0.35vw;
}
.topBar hr::before {
    height: 0.35vw;
    width: 0.35vw;
}

.game-content{
  display: flex;
  position: relative;
  justify-content: space-around;
  top: 8vw;
}
.game-content .game-stats h3{
  font-size: 3.5vw !important;
}
.game-content #tiles-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 45vw;
    height: 45vw;
    border: solid .05vw #7CCBDA;
    padding: 1.2vw 1vw 1vw 1.2vw;
    box-shadow: inset 0vw 0vw 3vw #7CCBDA, inset 0vw 0vw 3vw #7CCBDA;
}
#tiles-box .tile {
  cursor: pointer;
    width: 9.65vw;
    height: 9.65vw;
    border: solid .25vw #7CCBDA;
    border-radius: 1vw;
    margin-left: -0.2vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 7vw;
}
#tiles-box .tile:hover {
    background-color: #093139;
}
.matched-tile {
    opacity: 1;
    animation: fade1 0.5s linear;
}
@keyframes fade1 {
  0% { opacity: 0;transform: rotate(0deg);
   }
  100% { opacity: 1; transform: rotate(360deg); }
}
.unmatched-tile {
    animation: fade2 0.2s linear;
}
@keyframes fade2 {
  0%,50% {transform: translateX(-1vw);
   }
  25%,100% {transform: translateX(1vw); }
}

































.horizontal-separator {
    width: 100%;
    top: 0;
    background-color: #20494B;
    position: relative;
    height: 0.09vw;
    display: block;
    margin: 0.1vw;
    border: none;
}

.horizontal-separator:before {
    content: " ";
    width: 0.25vw;
    height: 0.25vw;
    position: absolute;
    border-radius: 50vw;
    background-color: #327C7F;
    left: 0;
    bottom: -.1vw;
}

.horizontal-separator:after {
    background-color: #327C7F;
    bottom: -.1vw;
    position: absolute;
    content: " ";
    right: 0;
    width: 0.25vw;
    height: 0.25vw;
    border-radius: 50vw;
}
