body {
    padding: 0.1vw;
    background-color: #0A0A0A;
    color: #4ca8b7;
    font-family: 'Roboto';
}

#tiles-box {
    position: relative;
    top: 8vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 40vw;
    height: 40vw;
    /*border: 0.1vw solid black;*/
    border: solid 0.05vw #7CCBDA;
    padding: 0.2vw 0 0 0.2vw;
    /*border-radius: 1vw;*/
    /*box-sizing: border-box;*/
}

.tile {
    width: 9.65vw;
    height: 9.65vw;
    border: solid 0.05vw #7CCBDA;
    border-radius: 1vw;
    /*border: 0.1vw solid black;*/
    margin-left: -0.2vw;
}

.topBar {
    display: flex;
    /*width: 98vw;*/
    /*position: relative;*/
    /*left: 0;*/
    /*display: block;*/
    height: 6vw;
}

.topBar .game-title {
    width: 25vw;
    /*display: inline-block;*/
    /*float: left;*/
}

.topBar .game-nav {
    /*float: right;*/
    width: 73vw;
    /*display: inline-block;*/
    /*height: 10vw;*/
}

.topBar .game-title h1 {
    position: relative;
    top: 1.5vw;
    left: 1vw;
    font-size: 5vw;
    width: 80%;
    margin: auto;
}

.topBar ul {
    width: 70vw;
    display: flex;
    flex-direction: row-reverse;
    height: 5vw;
    margin-bottom: 1vw;
}

.topBar li {
    position: relative;
    top: 2vw;
    right: 2vw;
    /*height: 2.3vw;*/
    /*margin-left: 2vw;*/
    /*display: inline-block;*/
    color: #3E9EA4;
    display: flex;
    /*float: right !important;*/
}

.topBar li p {
    /*float: left;*/
    margin: 0;
    position: relative;
    top: 0.5vw;
    font: Times;
    /*display: inline-block;*/
    line-height: 2.4vw;
    font-size: 2.4vw !important;
    padding: 0;
}

.topBar li span {
    /*margin-left: 0.5vw;*/
    /*display: inline-block;*/
    position: relative;
    top: 0.1vw;
    width: 2.4vw;
    font-size: 2.4vw;
    margin-left: 1vw;
    height: 2.4vw;
    /*float: right !important;*/
}


/*.topBar .seperator {
  position: relative;
  top: 1.2vw;
  font-size: 1.8vw !important;
  display: inline-block;
  background-color: #20494B;
  float: right !important;
  right: 2vw;
  margin-left: 2vw;
  height: 3.4vw;
  width: 0.1vw;
}*/

.topBar hr {
    margin-top: .5vw;
    height: 0.2vw;
}

.topBar hr::after {
    height: 0.35vw;
    width: 0.35vw;
}

.topBar hr::before {
    height: 0.35vw;
    width: 0.35vw;
}

.horizontal-separator {
    width: 100%;
    top: 0;
    background-color: #20494B;
    position: relative;
    height: 0.09vw;
    display: block;
    margin: 0.1vw;
    border: none;
}

.horizontal-separator:before {
    content: " ";
    width: 0.25vw;
    height: 0.25vw;
    position: absolute;
    border-radius: 50vw;
    background-color: #327C7F;
    left: 0;
    bottom: -.1vw;
}

.horizontal-separator:after {
    background-color: #327C7F;
    bottom: -.1vw;
    position: absolute;
    content: " ";
    right: 0;
    width: 0.25vw;
    height: 0.25vw;
    border-radius: 50vw;
}
